<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bug.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @bug.body %>
</p>

<p>
  <strong>Resolved:</strong>
  <%= @bug.resolved %>
</p>

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
